@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela', sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('/panoramic-banner-mountain-landscape-with-river-verdant-forest_1130849-723.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.hidden {
  display: none;
}

.btn {
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.show-btn {
  padding: 18px 22px;
  border-radius: 8px;
  transition: background 0.5s;
  background: transparent;
  border: 1px solid #101010;
  transition: 0.3s;

}

.show-btn:hover {
  background-color: none;
  backdrop-filter: blur(5px);
  border: 1px solid #000000;
}

/* MODAL */

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  z-index: 100;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.close-btn {
  color: #222;
  font-size: 20px;
}

.modal-title {
  margin-bottom: 15px;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.loader-wripper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  background-color: #000;
}

.lds-roller {
  /* change color here */
  color: #1c4c5b
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
